{% extends "base.html" %}

{% block title %} login {% endblock %}

{% block content  %} 

<link rel="stylesheet" href="../static/feed-style.css">

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for i in messages %}
<p>{{i}}</p> 
{% endfor %}
{% endif %}
{% endwith %}

 
<div class="container">
    <h2> Admin login </h2>
    <form action="#" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="nm" required>
        <label for="email">Password:</label>
        <input type="password" id="email" name="ps" required>
      
        <input type="submit" value="Submit">
    </form>
</div>



{% endblock %}